body {
    background-color: #f4f5f6;
    font-family: 'Roboto Condensed', sans-serif;
}

.container-fluid {
    width: 92%;
    background-color: white;
}

@media screen and (max-width: 1300px) {
    .container-fluid {
        width: 100%;
    }
}

/* fix font sizes on large screens */

@media screen and (min-width: 992px) {
    .small,
    .pandemic-heroes p {
        font-size: 1rem;
    }

    .in-the-magazine h6 {
        font-size: 1.3rem;
    }

    .in-the-magazine .hide-img {
        overflow: hidden;
    }

    .in-the-magazine .contained-img img {
        width: 150%;
        margin: 0 -25%;
    }

    .border-bottom {
        border-color: #d9d9d9 !important;
    }
}

@media screen and (min-width: 760px) {
    .small,
    .pandemic-heroes p,
    .in-the-magazine h6 {
        font-size: 1rem;
    }
    .in-the-magazine .hide-img {
        overflow: hidden;
    }

    .in-the-magazine .contained-img img {
        width: 150%;
        margin: 0 -25%;
    }

    .border-bottom {
        border-color: #d9d9d9 !important;
    }
}

@media screen and (max-width: 759px) {
    .in-the-magazine .contained-img img {
        width: 100%;
    }
}

.top {
    background-color: #f72210;
}

.top .subscribe-btn {
    background-color: white;
    color: #f42210;
}

header {
    border-bottom: 1px solid #dfdfdf;
}

.featured-topics > h4,
.top-story > h4,
.opinion > h4,
.debate > h4,
.latest-news > h4 {
    color: #a0a0a0;
    font-size: 0.9rem;
}

figcaption .us,
.editors-pick .topic {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #e9e9ea;
    color: #f42210;
    padding: 0.3em 0.8em;
    font-weight: bold;
    font-size: 0.9rem;
}

.pandemic-heroes > h3,
.culture-travel > h3 {
    color: #818181;
}

.pandemic-heroes figure p,
.culture-travel figure p {
    color: #939393;
    font-size: 0.9rem;
}

.pandemic-heroes .topic,
.culture-travel .topic {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #c2d4d7;
    padding: 0.1em 0.5em;
    font-size: 0.8rem;
}

.opinion figcaption span {
    font-weight: bold;
    color: #55555a;
    font-size: 0.9rem;
    margin-bottom: 0.3em;
}

.debate .debator-top {
    border-top: 4px solid #f92859;
    border-bottom: 1px solid #d9d9d9;
    padding: 1.5em 0;
    margin-bottom: 2px;
    font-weight: bold;
}
.debate .debate-participant {
    border-top: 1px solid #d9d9d9;
    border-bottom: none;
}

.debate .debate-participant img {
    order: 1;
    transform: translateY(-50%);
}

.debate .debate-participant figcaption {
    color: #55555a;
    font-size: 0.8rem;
}

.versus {
    background-color: black;
    border-radius: 50%;
    padding: 0.5em;
    color: #d6d6d6;
    text-align: center;
    font-weight: bold;
    width: 15%;
    margin: -1em auto 1em auto;
}

.debate .debator-bottom {
    border-top: 4px solid #1c87fb;
    border-bottom: none;
    padding: 1.5em 0;
    font-weight: bold;
}

.sign-up {
    background-color: #f4f5f6;
}

.sign-up div span {
    background-color: #f72210;
}

.sign-up button {
    background-color: #666666;
    font-weight: bold;
    border-radius: 0;
    color: white;
    margin: 0 0.7em;
}

.in-the-magazine > h3 span,
.editors-pick > h3 span {
    background-color: #f72210;
    font-weight: bolder;
    color: white;
    padding: 0.2em 0.3em;
}

.in-the-magazine .issue button {
    background-color: #f4f5f6;
}

.in-the-magazine .topic {
    color: #f72210;
}

.in-the-magazine .topic span {
    background-color: #f72210;
}

.editors-pick {
    border-bottom: 1px solid #d9d9d9;
}

.us-headlines,
.world-headlines,
.business-headlines,
.tech-science-headlines,
.culture-headlines,
.sports-headlines {
    border-bottom: 1px solid #d9d9d9;
}

.us-headlines > h3,
.world-headlines > h3,
.business-headlines > h3,
.tech-science-headlines > h3,
.culture-headlines > h3,
.sports-headlines > h3,
.subscribe > h3,
.newsletter > h3 {
    color: #f42210;
}

.side-headlines figure {
    border-color: #dddddd;
}

.subscribe article {
    background-color: #f4f5f6;
}

.subscribe .bot-img {
    position: relative;
    top: 8%;
    left: 22%;
}

.subscribe .top-img {
    position: absolute;
    top: 12%;
    left: 40%;
}

.subscribe button,
.newsletter button {
    background-color: #f72210;
}

.newsletter figure {
    border: 1px solid #f4f5f4;
}

footer {
    color: #666666;
}

footer .socials img {
    width: 22px;
    height: 22px;
}

footer > div {
    border-bottom: 1px solid #d9d9d9;
}
